@using TeslaSolarCharger.Client.Services.Contracts
@using TeslaSolarCharger.Client.Wrapper
@using TeslaSolarCharger.Shared.Dtos.ChargingStation

@inject IChargingStationsService ChargingStationsService
@inject ISnackbar Snackbar

@if (_chargingStationConnectors == default)
{
    <PlaceholderComponent Count="3"></PlaceholderComponent>
}
else
{
    <MudExpansionPanels>
        @foreach (var chargingStationConnector in _chargingStationConnectors)
        {
            <MudExpansionPanel Text="@($"Connector {chargingStationConnector.Item.ConnectorId}")">
                <EditFormComponent T="DtoChargingStationConnector" WrappedElement="@(chargingStationConnector)"
                                   OnAfterSuccessfullSubmit="ShowSuccessMessage"
                                   SubmitUrl="@($"api/ChargingStations/UpdateChargingStationConnector")">
                    @if (chargingStationConnector.Item.MinCurrent < 6)
                    {
                        <MudAlert Severity="Severity.Warning"
                                  NoIcon="true"
                                  ContentAlignment="HorizontalAlignment.Left">
                            <h5>Current below 6A not recommended</h5>
                            The Type 2 standard states that the minimum current below 6A is not allowed. Setting this below 6A might result int unexpected behaviour like the car not charging at all.
                        </MudAlert>
                    }
                    <GenericInput For="() => chargingStationConnector.Item.MinCurrent"></GenericInput>
                    <GenericInput For="() => chargingStationConnector.Item.MaxCurrent"></GenericInput>
                    @if (AutoPhaseSwitchingSupported)
                    {
                        <GenericInput For="() => chargingStationConnector.Item.AutoSwitchBetween1And3PhasesEnabled"></GenericInput>
                    }

                </EditFormComponent>
            </MudExpansionPanel>
        }
    </MudExpansionPanels>

}

@code {
    [Parameter]
    public int? ChargingStationId { get; set; }
    [Parameter]
    public bool AutoPhaseSwitchingSupported { get; set; }

    private List<EditableItem<DtoChargingStationConnector>>? _chargingStationConnectors;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await RefreshChargingStationConnectors();
    }


    private async Task RefreshChargingStationConnectors()
    {
        if (ChargingStationId == default)
        {
            _chargingStationConnectors = default;
            return;
        }

        var result = await ChargingStationsService.GetChargingStationConnectors(ChargingStationId.Value);
        if (result == default)
        {
            _chargingStationConnectors = default;
            return;
        }
        _chargingStationConnectors = result.Select(r => new EditableItem<DtoChargingStationConnector>(r)).ToList();
    }

    private void ShowSuccessMessage()
    {
        Snackbar.Add("Saved.", Severity.Success);
    }

}
