.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Full viewport height for vertical centering */
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #1b6ec2;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
