@using TeslaSolarCharger.Shared.Dtos.Settings
@inject HttpClient HttpClient

@if (_chargingSlots is { Count: > 0 })
{
    <p>
        Planned Charging Slots:
        <table>
            <tr>
                <th>
                    Currently charge reason
                </th>
                <th>
                    Start
                </th>
                <th>
                    End
                </th>
                <th>
                    Duration
                </th>
            </tr>
            @foreach (var chargingSlot in _chargingSlots)
            {
                <tr>
                    <td>
                        @chargingSlot.IsActive
                    </td>
                    <td>
                        @chargingSlot.ChargeStart.LocalDateTime.ToString("g")
                    </td>
                    <td>
                        @chargingSlot.ChargeEnd.LocalDateTime.ToString("g")
                    </td>
                    <td>
                        @if (chargingSlot.ChargeDuration < TimeSpan.FromDays(1))
                        {
                            @chargingSlot.ChargeDuration.ToString(@"hh\:mm")
                        }
                    </td>
                </tr>
            }
        </table>
    </p>

}

@code {
    [Parameter]
    public int CarId { get; set; }

    private List<DtoChargingSlot>? _chargingSlots;


    protected override async Task OnInitializedAsync()
    {
        _chargingSlots = await HttpClient.GetFromJsonAsync<List<DtoChargingSlot>>($"api/Index/GetChargingSlots?carId={CarId}").ConfigureAwait(false);
    }
}
