@using TeslaSolarCharger.Shared.Dtos

@inject HttpClient HttpClient
@inject ISnackbar Snackbar


@if (_displayValue && PowerBuffer != default)
{
    <div style="max-width: 300px; margin: 0 auto;">
        <GenericInput T="int?"
                      For="() => PowerBuffer"
                      PostfixButtonStartIcon="@Icons.Material.Filled.Save"
                      OnButtonClicked="UpdatePowerBuffer"></GenericInput>
    </div>
}


@code {
    private int? PowerBuffer { get; set; }
    private bool _displayValue;

    protected override async Task OnInitializedAsync()
    {
        var result = await HttpClient.GetFromJsonAsync<DtoValue<bool>>("api/BaseConfiguration/AllowPowerBufferChangeOnHome").ConfigureAwait(false);
        if(result == default)
        {
            return;
        }
        _displayValue = result.Value;
        if(_displayValue)
        {
            var powerBufferResult = await HttpClient.GetFromJsonAsync<DtoValue<int>>("api/BaseConfiguration/PowerBuffer").ConfigureAwait(false);
            if (powerBufferResult != default)
            {
                PowerBuffer = powerBufferResult.Value;
            }
        }
        
    }

    private async Task UpdatePowerBuffer()
    {
        var response = await HttpClient.GetAsync($"api/BaseConfiguration/UpdatePowerBuffer?powerBuffer={PowerBuffer ?? 0}").ConfigureAwait(false);
        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add("Power Buffer updated", Severity.Success);
        }
        else
        {
            Snackbar.Add("Failed to update Power Buffer", Severity.Error);
        }

    }
}