@using TeslaSolarCharger.Shared.Dtos.Table
@if (Content != null)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                @foreach (var header in Content.TableHeader.Elements)
                {
                    <th scope="col">@header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var dataRow in Content.TableData)
            {
                <tr@(dataRow.IsActive ? " class=\"table -active\"")>
                    @foreach (var dataValue in dataRow.Elements)
                    {
                        <td>@dataValue</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}



@code {
    [Parameter]
    public DtoTableContent? Content { get; set; }
}
