@using TeslaSolarCharger.Shared.Dtos.Table
@if (Headers != null && TableRows != null)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                @foreach (var header in Headers)
                {
                    <th scope="col">@header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var dataRow in TableRows)
            {
                <tr@(dataRow.IsActive ? " class=\"table -active\"")>
                    @foreach (var dataValue in dataRow.Elements)
                    {
                        <td>@dataValue</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}



@code {
    [Parameter]
    public List<string>? Headers { get; set;}

    [Parameter]
    public List<DtoTableRow>? TableRows { get; set; }
}
