@inherits LayoutComponentBase
@using TeslaSolarCharger.Client.Helper
@using TeslaSolarCharger.Client.Helper.Contracts
@using TeslaSolarCharger.Shared.Dtos
@using TeslaSolarCharger.Shared.Resources.Contracts
@implements IDisposable

@inject IJSRuntime JsRuntime
@inject ISnackbar Snackbar
@inject IHttpClientHelper HttpClientHelper
@inject IConstants Constants

<MudThemeProvider @ref="@_mudThemeProvider" Theme="TscTheme" />
<MudPopoverProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Medium" />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/pkuehnel/TeslaSolarCharger/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private MudThemeProvider? _mudThemeProvider;

    private string? _version;
    PeriodicTaskHelper? _periodicTaskHelper;

    private MudTheme TscTheme =>
        new()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Constants.PrimaryColor,
                Secondary = Constants.SecondaryColor,
                AppbarBackground = "#1b6ec2",
            },
        };


    protected override void OnInitialized()
    {
        _periodicTaskHelper = new();
        _periodicTaskHelper.Start(CheckVersion, TimeSpan.FromSeconds(30));
    }

    private async Task CheckVersion()
    {
        try
        {
            var result = await HttpClientHelper.SendGetRequestAsync<DtoValue<string?>>("api/Hello/ProductVersion");
            if (result.HasError)
            {
                return;
            }
            var version = result.Data?.Value;
            if (!string.IsNullOrEmpty(_version) && version != _version)
            {
                var reloadTimeout = TimeSpan.FromSeconds(10);
                Snackbar.Add($"New backend version detected. Page will autoreload in {reloadTimeout.TotalSeconds} seconds", Severity.Warning, config => { config.VisibleStateDuration = (int)reloadTimeout.TotalMilliseconds; });
                await Task.Delay(reloadTimeout);
                await JsRuntime.InvokeVoidAsync("location.reload");
            }

            _version = version;
        }
        catch (Exception ex)
        {
            return;
        }

        
    }

    public void Dispose()
    {
        _periodicTaskHelper?.Dispose();
    }
}
