@inherits LayoutComponentBase
@using TeslaSolarCharger.Shared.Resources.Contracts

@inject IConstants Constants

<MudThemeProvider @ref="@_mudThemeProvider" Theme="_tscTheme" />
<MudPopoverProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Medium" />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/pkuehnel/TeslaSolarCharger/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    private MudThemeProvider? _mudThemeProvider;

    private MudTheme? _tscTheme;

    protected override void OnInitialized()
    {
        _tscTheme = new MudTheme
        {
            PaletteLight = new PaletteLight
            {
                Primary = Constants.PrimaryColor,
                Secondary = Constants.SecondaryColor,
                AppbarBackground = Constants.PrimaryColor, // or a const you define
            },
        };
    }
}
