<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><span class="material-symbols-outlined">
            solar_power
        </span> Tesla Solar Charger</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Overview
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="Index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Old Overview
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="ChargingStations">
                <span class="material-symbols-outlined pr-1" aria-hidden="true">ev_station</span> Charging Stations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="CarSettings">
                <span class="oi oi-wrench" aria-hidden="true"></span> Car Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="ChargePrices">
                <span class="material-symbols-outlined" aria-hidden="true">attach_money</span> Charge Prices
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="cloudconnection">
                <span class="oi oi-cloud" aria-hidden="true"></span> Cloud Connection
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="BaseConfiguration">
                <span class="oi oi-cog" aria-hidden="true"></span> Base Configuration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="support">
                <span class="oi oi-code" aria-hidden="true"></span> Support
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="backupAndRestore">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Backup and Restore
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
