<MudTooltip Text="@TooltipText"
            RootClass="@(string.Empty)"
            Placement="Placement.Left"
            Arrow="true">
    <div class="d-flex align-items-center gap-1" @onclick:stopPropagation="true" @ontouchstart:stopPropagation="true">
        <div style="width: 12px; height: 12px; background-color: @Color; border-radius: 2px;"></div>
        <span class="text-nowrap">@($"{Value:F1}") kWh</span>
    </div>
</MudTooltip>

@code {
    [Parameter] public string TooltipText { get; set; } = string.Empty;
    [Parameter] public string Color { get; set; } = string.Empty;
    [Parameter] public decimal Value { get; set; }
}
