@media screen and (max-width: 640px) {
    #power-container {
        text-align: center;
        margin: auto;
        overflow-x: hidden !important;
    }

    #solar-power, #home-power, #ev-station-power {
        margin-left: 117px;
    }

    #solar-power,
    #grid-power,
    #battery-power,
    #home-power,
    #ev-station-power {
        display: inline;
        border: 1px solid #000;
        width: 100px;
        height: 60px;
        padding: 5px;
        float: left;
    }

    #grid-power, #battery-power {
        margin-top: 45px;
    }

    #solar-to-home-line {
        margin: 0 64px;
        display: inline;
        width: 3px;
        height: 150px;
        color: #fff;
        background-color: #000;
        float: left;
    }

    #grid-to-home-vertical-line {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -75px;
        margin-left: -27px;
    }

    #grid-to-home-horizontal-line {
        position: absolute;
        display: inline;
        width: 40px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -75px;
        margin-left: -67px;
    }

    #battery-to-home-vertical-line {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -75px;
        margin-left: 27px;
    }

    #battery-to-home-horizontal-line {
        position: absolute;
        display: inline;
        width: 40px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -75px;
        margin-left: 27px;
    }

    #battery-to-grid-horizontal-line {
        position: absolute;
        display: inline;
        width: 130px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -75px;
        margin-left: -65px;
    }

    #solar-to-grid-vertical-line {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -150px;
        margin-left: -27px;
    }

    #solar-to-grid-horizontal-line {
        position: absolute;
        display: inline;
        width: 40px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -77px;
        margin-left: -67px;
    }

    #solar-to-battery-vertical-line {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -150px;
        margin-left: 27px;
    }

    #solar-to-battery-horizontal-line {
        position: absolute;
        display: inline;
        width: 40px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -77px;
        margin-left: 27px;
    }

    #home-to-ev-station-vertical-line {
        font-size: 0;
        display: inline;
        width: 2px;
        height: 40px;
        color: #fff;
        background-color: #000;
        float: left;
        margin-left: 165px;
    }

    .left-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        margin-top: -4px;
        transform: rotate(-135deg);
    }

    .right-arrow {
        position: absolute;
        margin-left: 30px;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        margin-top: -4px;
        transform: rotate(45deg);
    }

    .down-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        transform: rotate(135deg);
        margin-top: 140px;
        margin-left: -3.5px;
    }
}

@media screen and (min-width: 641px) {
    #power-container {
        min-width: 620px;
        text-align: center;
        margin: auto;
    }

    #solar-power, #home-power, #ev-station-power {
        margin-left: 180px;
    }

    #solar-power,
    #grid-power,
    #battery-power,
    #home-power,
    #ev-station-power {
        display: inline;
        border: 1px solid #000;
        width: 160px;
        height: 60px;
        padding: 5px;
        float: left;
    }

    #grid-power, #battery-power {
        margin-top: 45px;
    }

    #solar-to-home-line {
        margin: 0 100px;
        display: inline;
        width: 3px;
        height: 150px;
        color: #fff;
        background-color: #000;
        float: left;
    }

    #grid-to-home-vertical-line {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -75px;
        margin-left: -90px;
    }

    #grid-to-home-horizontal-line {
        position: absolute;
        display: inline;
        width: 62px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -75px;
        margin-left: -151px;
    }

    #battery-to-home-vertical-line {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -75px;
        margin-left: -8px;
    }

    #battery-to-home-horizontal-line {
        position: absolute;
        display: inline;
        width: 62px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -75px;
        margin-left: -8px;
    }

    #battery-to-grid-horizontal-line {
        position: absolute;
        display: inline;
        width: 205px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -75px;
        margin-left: -150px;
    }

    #solar-to-grid-vertical-line {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -150px;
        margin-left: -90px;
    }

    #solar-to-grid-horizontal-line {
        position: absolute;
        display: inline;
        width: 62px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -77px;
        margin-left: -151px;
    }

    #solar-to-battery-vertical-line {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -150px;
        margin-left: -8px;
    }

    #solar-to-battery-horizontal-line {
        position: absolute;
        display: inline;
        width: 62px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -77px;
        margin-left: -8px;
    }

    #home-to-ev-station-vertical-line {
        font-size: 0;
        display: inline;
        width: 3px;
        height: 50px;
        color: #fff;
        background-color: #000;
        float: left;
        margin-left: 260px;
    }

    .left-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        margin-top: -4px;
        transform: rotate(-135deg);
    }

    .right-arrow {
        position: absolute;
        margin-left: 50px;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        margin-top: -4px;
        transform: rotate(45deg);
    }

    .down-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        transform: rotate(135deg);
        margin-top: 140px;
        margin-left: -3.5px;
    }
}

.clear {
    clear: both;
}

.solar-to-grid-vertical-line-down-arrow,
.solar-to-battery-vertical-line-down-arrow,
.grid-to-home-vertical-line-down-arrow,
.battery-to-home-vertical-line-down-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(135deg);
    margin-top: 65px;
    margin-left: -3.9px;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.leftArrowSliding {
    position: absolute;
    -webkit-animation: leftSlide 4s linear infinite;
    animation: leftSlide 4s linear infinite;
}

.rightArrowSliding {
    position: absolute;
    -webkit-animation: rightSlide 4s reverse infinite;
    animation: rightSlide 4s reverse infinite;
}

.downArrowSliding {
    position: absolute;
    -webkit-animation: downSlide 4s reverse infinite;
    animation: downSlide 4s reverse infinite;
}

.childDownArrowSliding {
    position: absolute;
    -webkit-animation: childDownSlide 4s reverse infinite;
    animation: childDownSlide 4s reverse infinite;
}


.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes leftSlide {
    0% {
        opacity: 0;
        transform: translateX(35px);
    }

    20% {
        opacity: 1;
        transform: translateX(30px);
    }

    80% {
        opacity: 1;
        transform: translateX(-0px);
    }

    100% {
        opacity: 0;
        transform: translateX(-0px);
    }
}

@keyframes leftSlide {
    0% {
        opacity: 0;
        transform: translateX(35px);
    }

    20% {
        opacity: 1;
        transform: translateX(30px);
    }

    80% {
        opacity: 1;
        transform: translateX(-0px);
    }

    100% {
        opacity: 0;
        transform: translateX(-0px);
    }
}

@-webkit-keyframes rightSlide {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    20% {
        opacity: 1;
        transform: translateX(0px);
    }

    80% {
        opacity: 1;
        transform: translateX(-30px);
    }

    100% {
        opacity: 0;
        transform: translateX(-35px);
    }
}

@keyframes rightSlide {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    20% {
        opacity: 1;
        transform: translateX(0px);
    }

    80% {
        opacity: 1;
        transform: translateX(-30px);
    }

    100% {
        opacity: 0;
        transform: translateX(-35px);
    }
}

@-webkit-keyframes downSlide {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
        transform: translateY(0px);
    }

    80% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

@keyframes downSlide {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
        transform: translateY(0px);
    }

    80% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

@-webkit-keyframes childDownSlide {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
        transform: translateY(0px);
    }

    80% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

@keyframes childDownSlide {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
        transform: translateY(0px);
    }

    80% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}
