@media screen and (max-width: 620px) {
    #power-container {
        width: 620px;
        text-align: center;
        margin: auto;
    }

    #node {
        display: inline;
        border: 1px solid #000;
        margin-left: 117px;
        float: left;
    }

    #node,
    #left-child-node,
    #right-child-node {
        width: 100px;
        height: 80px;
        padding: 15px;
    }

    #left-child-node {
        display: inline;
        border: 1px solid #000;
        margin-top: 65px;
        float: left;
    }

    #right-child-node {
        display: inline;
        border: 1px solid #000;
        margin-top: 65px;
        float: left;
    }

    #line1 {
        margin: 0 64px;
        display: inline;
        width: 3px;
        height: 200px;
        color: #fff;
        background-color: #000;
        float: left;
    }

    #line3 {
        position: absolute;
        display: inline;
        width: 2px;
        height: 90px;
        color: #fff;
        background-color: #000;
        margin-top: -90px;
        margin-left: -27px;
    }

    #line3-left {
        position: absolute;
        display: inline;
        width: 40px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -90px;
        margin-left: -67px;
    }

    #line4 {
        position: absolute;
        display: inline;
        width: 2px;
        height: 90px;
        color: #fff;
        background-color: #000;
        margin-top: -90px;
        margin-left: 24px;
    }

    #line4-right {
        position: absolute;
        display: inline;
        width: 40px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -90px;
        margin-left: 25px;
    }

    #line5 {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -200px;
        margin-left: -27px;
    }

    #line5-left {
        position: absolute;
        display: inline;
        width: 40px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -127px;
        margin-left: -67px;
    }

    #line6 {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -200px;
        margin-left: 27px;
    }

    #line6-right {
        position: absolute;
        display: inline;
        width: 40px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -127px;
        margin-left: 26px;
    }

    .line1-down-arrow {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #2f2f2f;
        margin-top: 185px;
        margin-left: -11px;
    }

    #line2 {
        font-size: 0;
        display: inline;
        width: 3px;
        height: 50px;
        color: #fff;
        background-color: #000;
        float: left;
        margin-left: 168px;
    }

    .clear {
        clear: both;
    }

    .left-arrow {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        margin-top: -5px;
        transform: rotate(-135deg);
    }

    .right-arrow {
        display: inline-block;
        margin-left: 88px;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        margin-top: -5px;
        transform: rotate(45deg);
    }

    .down-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        transform: rotate(135deg);
        margin-top: 190px;
        margin-left: -3.5px;
    }

    .line-2-down-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        transform: rotate(135deg);
        margin-top: 40px;
        margin-left: -3.5px;
    }

    .child-down-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        transform: rotate(135deg);
        margin-top: 80px;
        margin-left: -3.9px;
    }

    .line5-down-arrow, .line6-down-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        transform: rotate(135deg);
        margin-top: 63px;
        margin-left: -3.9px;
    }
}

@media screen and (min-width: 600.1px) {
    #power-container {
        min-width: 620px;
        text-align: center;
        margin: auto;
    }

    #node {
        display: inline;
        border: 1px solid #000;
        margin-left: 180px;
        float: left;
    }

    #node,
    #left-child-node,
    #right-child-node {
        width: 160px;
        height: 60px;
        padding: 15px;
    }

    #left-child-node {
        display: inline;
        border: 1px solid #000;
        margin-top: 65px;
        float: left;
    }

    #right-child-node {
        display: inline;
        border: 1px solid #000;
        margin-top: 65px;
        float: left;
    }

    #line1 {
        margin: 0 100px;
        display: inline;
        width: 3px;
        height: 200px;
        color: #fff;
        background-color: #000;
        float: left;
    }

    #line3 {
        position: absolute;
        display: inline;
        width: 2px;
        height: 90px;
        color: #fff;
        background-color: #000;
        margin-top: -90px;
        margin-left: -90px;
    }

    #line3-left {
        position: absolute;
        display: inline;
        width: 62px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -90px;
        margin-left: -151px;
    }

    #line4 {
        position: absolute;
        display: inline;
        width: 2px;
        height: 90px;
        color: #fff;
        background-color: #000;
        margin-top: -90px;
        margin-left: -8px;
    }

    #line4-right {
        position: absolute;
        display: inline;
        width: 62px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -90px;
        margin-left: -8px;
    }

    #line5 {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -200px;
        margin-left: -95px;
    }

    #line5-left {
        position: absolute;
        display: inline;
        width: 58px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -127px;
        margin-left: -151px;
    }

    #line6 {
        position: absolute;
        display: inline;
        width: 2px;
        height: 75px;
        color: #fff;
        background-color: #000;
        margin-top: -200px;
        margin-left: -8px;
    }

    #line6-right {
        position: absolute;
        display: inline;
        width: 62px;
        height: 2px;
        color: #fff;
        background-color: #000;
        margin-top: -127px;
        margin-left: -8px;
    }

    .line1-down-arrow {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #2f2f2f;
        margin-top: 185px;
        margin-left: -11px;
    }

    #line2 {
        font-size: 0;
        display: inline;
        width: 3px;
        height: 50px;
        color: #fff;
        background-color: #000;
        float: left;
        margin-left: 262px;
    }

    .clear {
        clear: both;
    }

    .left-arrow {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        margin-top: -5px;
        transform: rotate(-135deg);
    }

    .right-arrow {
        display: inline-block;
        margin-left: 88px;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        margin-top: -5px;
        transform: rotate(45deg);
    }

    .down-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        transform: rotate(135deg);
        margin-top: 190px;
        margin-left: -3.5px;
    }

    .line-2-down-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        transform: rotate(135deg);
        margin-top: 40px;
        margin-left: -3.5px;
    }

    .child-down-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        transform: rotate(135deg);
        margin-top: 80px;
        margin-left: -3.9px;
    }

    .line5-down-arrow, .line6-down-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        transform: rotate(135deg);
        margin-top: 63px;
        margin-left: -3.9px;
    }
}

.leftArrowSliding {
    position: absolute;
    -webkit-animation: leftSlide 4s linear infinite;
    animation: leftSlide 4s linear infinite;
}

.rightArrowSliding {
    position: absolute;
    -webkit-animation: rightSlide 4s reverse infinite;
    animation: rightSlide 4s reverse infinite;
}

.downArrowSliding {
    position: absolute;
    -webkit-animation: downSlide 4s reverse infinite;
    animation: downSlide 4s reverse infinite;
}

.childDownArrowSliding {
    position: absolute;
    -webkit-animation: childDownSlide 4s reverse infinite;
    animation: childDownSlide 4s reverse infinite;
}


.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes leftSlide {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    20% {
        opacity: 1;
        transform: translateX(30px);
    }

    80% {
        opacity: 1;
        transform: translateX(-0px);
    }

    100% {
        opacity: 0;
        transform: translateX(-0px);
    }
}

@keyframes leftSlide {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    20% {
        opacity: 1;
        transform: translateX(30px);
    }

    80% {
        opacity: 1;
        transform: translateX(-0px);
    }

    100% {
        opacity: 0;
        transform: translateX(-0px);
    }
}

@-webkit-keyframes rightSlide {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    20% {
        opacity: 1;
        transform: translateX(0px);
    }

    80% {
        opacity: 1;
        transform: translateX(-30px);
    }

    100% {
        opacity: 0;
        transform: translateX(-100px);
    }
}

@keyframes rightSlide {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    20% {
        opacity: 1;
        transform: translateX(0px);
    }

    80% {
        opacity: 1;
        transform: translateX(-30px);
    }

    100% {
        opacity: 0;
        transform: translateX(-100px);
    }
}

@-webkit-keyframes downSlide {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
        transform: translateY(0px);
    }

    80% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

@keyframes downSlide {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
        transform: translateY(0px);
    }

    80% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

@-webkit-keyframes childDownSlide {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
        transform: translateY(0px);
    }

    80% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}

@keyframes childDownSlide {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
        transform: translateY(0px);
    }

    80% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}