@page "/ChargePrice/detail/{chargeCostId:int}"
@page "/ChargePrice/new"
@using TeslaSolarCharger.Shared.Dtos.ChargingCost
@using System.Globalization
@using TeslaSolarCharger.Shared.Contracts
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IDateTimeProvider DateTimeProvider

<button class="btn btn-primary" @onclick="NavigateToList">All Charge costs</button>
<h1>ChargePriceDetail</h1>

@if (ChargePrice == null)
{
    <div class="spinner"></div>
}
else
{
    <EditForm Model="ChargePrice" OnValidSubmit="@SaveChargePrice">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3 form-floating">
            <input type="number" class="form-control" value="@ChargePrice.Id" readonly>
            <label class="form-label">Id</label>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating flex-grow-1">
                <InputDate id="date" @bind-Value="ChargePrice.ValidSince" class="form-control" />
                <label for="date">Valid Since</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating flex-grow-1">
                <InputNumber id="solarPrice" @bind-Value="ChargePrice.SolarPrice" class="form-control" />
                <label for="solarPrice">Solar Price</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating flex-grow-1">
                <InputNumber id="solarPrice" @bind-Value="ChargePrice.GridPrice" class="form-control" />
                <label for="solarPrice">@(ChargePrice.AddSpotPriceToGridPrice ? "Base Price (Spot price will be added to this price)" : "Grid Price")</label>
            </div>
        </div>
        <div class="mb-3">
            <InputCheckbox class="form-check-input" id="useSpotPrice" @bind-Value="ChargePrice.AddSpotPriceToGridPrice" />
            <label class="form-check-label" for="useSpotPrice">
                Use Spot Prices
            </label>
            <div>
                <small id="UseSpotPriceHelp" class="form-text text-muted">Enable this if you are using dynamic prices based on EPEX Spot DE (e.g. Tibber or aWATTar)</small>
            </div>
        </div>
        @if (ChargePrice.AddSpotPriceToGridPrice)
        {
            <div class="mb-3">
                <div class="input-group">
                    <div class="form-floating flex-grow-1">
                        <InputNumber id="chargePriceSurcharge" @bind-Value="ChargePrice.SpotPriceSurcharge" class="form-control" />
                        <label for="chargePriceSurcharge">Additional costs to spotprice</label>
                    </div>
                    <span class="input-group-text">%</span>
                </div>
                <div col="12">
                    <small id="spotPriceCorrectionFactorHelp" class="form-text text-muted">Surcharge to spot price (e.g. aWATTar 3% + 19% VAT in Germany). Note: Spot prices are without VAT.</small>
                </div>
            </div>
        }
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
}


@code {
    [Parameter]
    public int? ChargeCostId { get; set; }

    private DtoChargePrice? ChargePrice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ChargeCostId != null)
        {
            ChargePrice = await HttpClient.GetFromJsonAsync<DtoChargePrice>($"api/ChargingCost/GetChargePriceById?id={ChargeCostId}").ConfigureAwait(false);
        }
        else
        {
            ChargePrice = new DtoChargePrice()
            {
                ValidSince = DateTimeProvider.Now(),
                GridPrice = new decimal(0.285),
                SolarPrice = new decimal(0.12),
            };
        }
    }

    void NavigateToList()
    {
        NavigationManager.NavigateTo("/ChargePrices");
    }

    private async Task SaveChargePrice()
    {
        await HttpClient.PostAsJsonAsync("api/ChargingCost/UpdateChargePrice", ChargePrice).ConfigureAwait(false);
        NavigateToList();
    }
}
