@page "/ChargePrices"
@using TeslaSolarCharger.Shared.Dtos.ChargingCost
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
<h1>Charge Prices</h1>

<button class="btn btn-primary" @onclick="NavigateToNew">New</button>

@if (_chargePrices == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Valid since</th>
            <th scope="col">Solar price per kWh</th>
            <th scope="col">Grid price per kWh</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var chargePrice in _chargePrices)
        {
            <tr>
                <td><a href="/ChargePrice/detail/@chargePrice.Id">@chargePrice.Id</a></td>
                <td>@chargePrice.ValidSince</td>
                    <td>@(chargePrice.SolarPrice != null ? ((decimal)chargePrice.SolarPrice).ToString("0.00") : "")</td>
                    <td>@(chargePrice.GridPrice != null ? ((decimal)chargePrice.GridPrice).ToString("0.00") : "")</td>
                <td>
                    <button class="btn btn-danger" @onclick="(_ => Delete(chargePrice.Id))">
                        @if (_deletingChargePriceIds.Any(i => i == chargePrice.Id))
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                        }
                        else
                        {
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        }
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<DtoChargePrice>? _chargePrices;

    public List<int> _deletingChargePriceIds { get; } = new();

    protected override async Task OnInitializedAsync()
    {
        _chargePrices = await HttpClient.GetFromJsonAsync<List<DtoChargePrice>>("api/ChargingCost/GetChargePrices").ConfigureAwait(false);
    }

    void NavigateToNew()
    {
        NavigationManager.NavigateTo("/ChargePrice/new");
    }

    async Task Delete(int? id)
    {
        if (id == default)
        {
            return;
        }
        _deletingChargePriceIds.Add((int) id);
        await HttpClient.DeleteAsync($"api/ChargingCost/DeleteChargePriceById?id={id}").ConfigureAwait(false);
        _chargePrices?.RemoveAll(c => c.Id == id);
        _deletingChargePriceIds.RemoveAll(i => i == id);
    }
}
