@page "/"
@page "/Home"
@using TeslaSolarCharger.Client.Components.StartPage
@using TeslaSolarCharger.Client.Services.Contracts
@using TeslaSolarCharger.Shared.Dtos.Home

@inject IEnergyDataService EnergyDataService
@inject IHomeService HomeService

<PageTitle>Solar 4 Car</PageTitle>

<MerryChristmasAndHappyNewYearComponent></MerryChristmasAndHappyNewYearComponent>

<BackendInformationDisplayComponent></BackendInformationDisplayComponent>
<LoggedErrorsComponent></LoggedErrorsComponent>

<PowerFlowComponent></PowerFlowComponent>
<PowerBufferComponent></PowerBufferComponent>
@if (_showEnergyData)
{
    <EnergyPredictionComponent></EnergyPredictionComponent>
}

@if (_loadPoints == default)
{
    <PlaceholderComponent Count="1" Height="200px"></PlaceholderComponent>
}
else
{
    foreach (var loadPoint in _loadPoints)
    {
        <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="text-center">@((loadPoint.ChargingPower ?? 0).ToString("N0")) W</div>
            <div class="progress-wrapper">
                @for (var i = 1; i <= loadPoint.MaxPhases; i++)
                {
                    <MudProgressLinear Color="Color.Primary"
                                       Striped="loadPoint.ChargingPower > 0"
                                       Size="Size.Small"
                                       Value="@((double)(i <= loadPoint.ActualPhases ? loadPoint.ActualCurrent ?? 0 : 0))"
                                       Max="loadPoint.MaxCurrent ?? 16"
                                       Class="mt-1 mb-3 mx-1">
                    </MudProgressLinear>
                }
            </div>
            <NotChargingAtExpectedPowerReasonsComponent CarId="loadPoint.CarId" ChargingConnectorId="loadPoint.ChargingConnectorId" />
            <div class="row g-1 mb-2">
                @if (loadPoint.CarId != default)
                {
                    <div class="border border-gray-300 p-3 rounded col-12 col-xl-@(loadPoint.ChargingConnectorId == default ? "12" : "6")">
                        <CarDetailsComponent CarId="loadPoint.CarId" />
                    </div>
                }
                @if (loadPoint.ChargingConnectorId != default)
                {
                    <div class="border border-gray-300 p-3 rounded col-xl-6 col-xl-@(loadPoint.CarId == default ? "12" : "6")">
                        <ChargingConnectorDetailsComponent ChargingConnectorId="loadPoint.ChargingConnectorId"
                                                           CarId="@(loadPoint.CarId)"
                                                           OnCarSelected="carId => CarSelectedForChargingConnector(loadPoint.ChargingConnectorId.Value, carId)" />
                    </div>
                }

            </div>
            <ChargingSchedulesComponent CarId="loadPoint.CarId" ChargingConnectorId="loadPoint.ChargingConnectorId" />
        </div>
    }
}
<HiddenErrorsComponent></HiddenErrorsComponent>

@code {
    private bool _showEnergyData;
    private List<DtoLoadPointOverview>? _loadPoints;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _showEnergyData = await EnergyDataService.ShowEnergyDataOnHome();
        await RefreshLoadPoints();
    }

    private async Task RefreshLoadPoints()
    {
        _loadPoints = await HomeService.GetLoadPointsToManage();
    }

    private async Task CarSelectedForChargingConnector(int loadPointChargingConnectorId, int? carId)
    {
        await HomeService.UpdateCarForLoadpoint(loadPointChargingConnectorId, carId);
        await RefreshLoadPoints();
    }

}
