@page "/support"

<h1>Support</h1>

<MudAlert Severity="Severity.Warning"
          NoIcon="true"
          ContentAlignment="HorizontalAlignment.Left">
    <h5>Never share logs publicly</h5>
    Logs might contain sensitive information like your vehicle's location. Do not share logs publicly.
</MudAlert>

<MudLink Href="api/Debug/DownloadLogs">Download Logs</MudLink>

@code {

}
