name: alphaRelease

on:
  pull_request:
    branches: [ develop ]

jobs:
  TeslaSolarCharger:
    name: Building TeslaSolarCharger image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup dotnet
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'

    - name: install minver-cli
      run: dotnet tool install --global minver-cli

    - name: get version
      run: echo "MINVERVERSIONOVERRIDE=$(minver --tag-prefix v --verbosity e)" >> $GITHUB_ENV 

    - name: echo environementvariable
      run: echo ${{ env.MINVERVERSIONOVERRIDE }}

    - name: Calculate version
      uses: thefringeninja/action-minver@2.0.0-preview1
      id: version
      with:
        tag-prefix: v
         
    - name: Run unit tests
      run: dotnet test TeslaSolarCharger.Tests

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: DockerHub login
      if: ${{ github.actor != 'dependabot[bot]' }}
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASS}}

    - name: Build and push TeslaSolarCharger
      if: ${{ github.actor != 'dependabot[bot]' }}
      uses: docker/build-push-action@v3.1.0
      with:
        build-args: MINVERVERSIONOVERRIDE=${{ steps.version.outputs.version }}
        file: ./TeslaSolarCharger/Server/Dockerfile
        platforms: linux/amd64,linux/arm64,linux/arm/v7
        push: true
        tags: pkuehnel/teslasolarcharger:alpha

  SmaEnergymeterPlugin:
    name: Building SMAPlugin Image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: DockerHub login
      if: ${{ github.actor != 'dependabot[bot]' }}
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASS}}

    - name: Build and push SmaPlugin
      if: ${{ github.actor != 'dependabot[bot]' }}
      uses: docker/build-push-action@v2
      with:
        file: ./Plugins.SmaEnergymeter/Dockerfile
        platforms: linux/amd64,linux/arm64,linux/arm/v7
        push: true
        tags: pkuehnel/teslasolarchargersmaplugin:alpha

  SolarEdgePlugin:
    name: Building SolarEdgePlugin Image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: DockerHub login
      if: ${{ github.actor != 'dependabot[bot]' }}
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASS}}

    - name: Build and push SolarEdgePlugin
      if: ${{ github.actor != 'dependabot[bot]' }}
      uses: docker/build-push-action@v2
      with:
        file: ./Plugins.SolarEdge/Dockerfile
        platforms: linux/amd64,linux/arm64,linux/arm/v7
        push: true
        tags: pkuehnel/teslasolarchargersolaredgeplugin:alpha

  ModbusPlugin:
    name: Building ModbusPlugin Image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: DockerHub login
      if: ${{ github.actor != 'dependabot[bot]' }}
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASS}}

    - name: Build and push ModbusPlugin
      if: ${{ github.actor != 'dependabot[bot]' }}
      uses: docker/build-push-action@v2
      with:
        file: ./Plugins.Modbus/Dockerfile
        platforms: linux/amd64,linux/arm64,linux/arm/v7
        push: true
        tags: pkuehnel/teslasolarchargermodbusplugin:alpha
